[Unit]
Description=Battery Notification Service

[Service]
User=nate
ExecStart=/usr/bin/batnotify
Restart=on-failure

[Install]
WantedBy=graphical.target
